doctype html
html
  head
    h3 PS3 App
  body
    if string
      p String: #{string}
    if length !== null && length !== undefined
      p Length: #{length}
    if paramName
      p Parameter: #{paramName}
